extends layout

block content
  .w3-card-4
    h1 Welcome #{user.nickname}
    img(src=user.picture)
    h2 User profile
    p This is the content of <code>req.user</code>.  
    pre
      code #{userProfile}
    p This is the content of <code>req.json</code>.  
    pre
      code #{json}